:root{
  --primary-color: #40005d;
  --secondary-color: #a892ee;
}

.general{
  margin-bottom: 2rem;
}

  .content-table {
    border-collapse: collapse;
    font-size: 0.9em;
    width: 50rem;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  }

  .content-table thead tr {
    background-color: var(--secondary-color);
    color: #ffffff;
    text-align: left;
    font-weight: bold;
  }
  
  .content-table th,
  .content-table td {
    padding: 12px 15px;
    width: 1%;
    white-space: nowrap;
  
  }
  
  .content-table tbody tr {
    border-bottom: 1px solid #dddddd;
    color: #ffffff;
    text-align: left;
    background-color: var(--primary-color);
  }
  
  .content-table tbody tr:nth-of-type(even) {
    background-color: var(--secondary-color);
  }
  
  .content-table tbody tr:last-of-type {
    border-bottom: 2px solid var(--secondary-color);
  }
  
  .content-table tbody tr.active-row {
    font-weight: bold;
    color: white;
  }
